@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@500&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* primary colors */
    --primary-color1: #121425f2;
    --primary-color2: #2d375b;
    --primary-color3: #6d65a4;
    --primary-color4: #be9bea;
    --primary-color5: #f8caed;
    /* secondary color*/
    --secondary-color1: #ffe4c4c7;
    --secondary-color2: #f5cc9cc7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html,
body {
    width: 100%;
    min-height: 100%;
    font-family: 'Rethink Sans', sans-serif;
}

.container {
    width: 100%;
    height: 100%
}

.upperButton {
    position: fixed;
    top: 50%;
    left: 97%;
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color1);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.upperButton:hover {
    background-color: var(--primary-color2);
}

/* NAVBAR */

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 100px;
    background-color: var(--primary-color1);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.logo:hover {
    font-size: 27px;
}

.basketIcon {
    margin-left: 30px;
    color: #fff;
    cursor: pointer;
}

.basketIcon:hover {
    color: var(--primary-color5);
}

.aboutLink:hover {
    font-size: 18px;
}

.notAllowed {
    cursor: not-allowed;
}

.amount {
    position: relative;
    top: -13px;
    right: 5px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    padding: 3px;
    z-index: -1;
    border-radius: 5px;
}

.links {
    cursor: pointer;
    margin: 40px;
    font-size: 17px;
}

/* TITLE */

.title {
    width: 100%;
    height: 80vh;
    background-color: var(--secondary-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.title_text {
    flex: 0.8;
    position: relative;
    top: -10%;
    padding-left: 10px
}

.title_text h4 {
    font-size: 50px
}

.title_text p {
    margin-top: 30px;
    font-size: 17px
}

.title_img {
    flex: 1;
    height: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.title_img img {
    width: 70%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 2px;
    background: linear-gradient(90deg, #0f0e18, #232b4a, #544e7f, #9c7bcf, #f09ddc);

    border-image-slice: 1;
    border-image-repeat: round;
}

/* introduction */

.introduction {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color1);
    padding: 100px;
}

.text {
    padding: 5px;
}

.info-right {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--primary-color2); */
    flex-direction: row-reverse;
    color: #fff
}

.info-left {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE4C4;
}

.text {
    flex: 0.4;
}

.text h5 {
    font-size: 25px;
    padding-bottom: 10px;
}

.text p {
    font-size: 17px;
}

.img {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 200px;
}

/* market */

.market {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 70px;
    background-color: rgba(255, 255, 255, 0.738);
}

.market-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.market-content h1 {
    margin-bottom: 50px;
    font-size: 35px;
}

.market-content p {
    margin-bottom: 50px;
    font-size: 17px;
}


.market_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-card {
    margin: 30px;
    border: 1px solid var(--primary-color4);
    border-radius: 10px;
    padding: 10px;
}

.product-card img {
    width: 200px;
    border-radius: 5px;
}

.product-card_detail {
    margin: 10px;
    text-align: center;
}

.product-card_detail h5 {
    margin: 6px;
}

.add-Basket {
    border: 1px solid;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    background-color: var(--primary-color2);
    color: #fff;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}

.add-Basket:hover {
    background-color: var(--primary-color3);
}

.footer {
    position: relative;
    margin: 30px 30px 20px 30px;
    bottom: 0;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style-type: none;
    margin: 15px;
}

/* basket */

.empty-basket {
    position: relative;
    top: 200px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-basket span {
    margin-bottom: 20px;
}

.empty-basket .redirectMarket {
    color: var(--primary-color3);
    text-decoration: underline;
}

.empty-basket .redirectMarket:hover {
    color: var(--primary-color1)
}

.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.basket-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.shopping-card {
    margin: 40px 30px;
    border: 1px solid var(--primary-color4);
    border-radius: 10px;
    padding: 10px;
}

.shopping-card .delete {
    width: 20px;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    cursor: pointer;
}

.product {
    margin-top: 10px;
}

.product-detail {
    text-align: center;
}


.product img {
    width: 200px;
}

.confirm {
    margin: 15px 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
}

.confirm:hover {
    background-color: var(--primary-color3);
    color: #fff;
}