@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@500&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* primary colors */
    --primary-color1: #121425f2;
    --primary-color2: #2d375b;
    --primary-color3: #6d65a4;
    --primary-color4: #be9bea;
    --primary-color5: #f8caed;
    /* secondary color*/
    --secondary-color1: #ffe4c4c7;
    --secondary-color2: #f5cc9cc7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html,
body {
    width: 100%;
    min-height: 100%;
    font-family: 'Rethink Sans', sans-serif;
}

.container {
    width: 100%;
    height: 100%
}

.upperButton {
    position: fixed;
    top: 50%;
    left: 97%;
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color1);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.upperButton:hover {
    background-color: var(--primary-color2);
}

/* NAVBAR */

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 100px;
    background-color: var(--primary-color1);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.logo:hover {
    font-size: 27px;
}

.basketIcon {
    margin-left: 30px;
    color: #fff;
    cursor: pointer;
}

.basketIcon:hover {
    color: var(--primary-color5);
}

.aboutLink:hover {
    font-size: 18px;
}

.notAllowed {
    cursor: not-allowed;
}

.confirmNav-button {
    margin: 15px 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 2px;
    border-radius: 10px;
    color: #fff;
}

.confirmNav-button:hover {
    background-color: var(--primary-color3);
    color: #fff;
}

.marketNav-button {
    margin: 15px 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 2px;
    border-radius: 10px;
    color: #fff;
}

.marketNav-button:hover {
    background-color: var(--primary-color3);
    color: #fff;
}

.amount {
    position: relative;
    top: -13px;
    right: 5px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    padding: 3px;
    z-index: -1;
    border-radius: 5px;
}

.links {
    cursor: pointer;
    margin: 40px;
    font-size: 17px;
}

@media screen and (max-width: 700px) {
    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        background-color: var(--primary-color1);
        color: #fff;
        position: sticky;
        top: 0;
        z-index: 999;
        height: 80px;
    }

    .logo {
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }

    .logo:hover {
        font-size: 15px;
    }

    .basketIcon {
        width: 20px;
        margin-left: 15px;
        color: #fff;
        cursor: pointer;
    }

    .basketIcon:hover {
        color: var(--primary-color5);
    }

    .aboutLink {
        font-size: 15px;
    }

    .aboutLink:hover {
        font-size: 15px;
    }

    .notAllowed {
        cursor: not-allowed;
    }

    .confirmNav-button {
        margin: 15px 10px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid;
        border-radius: 2px;
        border-radius: 10px;
        color: #fff;
        display: none;
    }

    .confirmNav-button:hover {
        background-color: var(--primary-color3);
        color: #fff;
    }

    .amount {
        position: relative;
        top: -13px;
        right: 5px;
        background-color: red;
        color: #fff;
        text-decoration: none;
        font-size: 10px;
        padding: 3px;
        z-index: -1;
        border-radius: 5px;
    }

    .links {
        cursor: pointer;
        margin: 40px 10px;
        font-size: 17px;
    }

    .upperButton {
        top: 93%;
        left: 90%;
        background-color: var(--primary-color2);
        opacity: 0.7;
    }
}


/* TITLE */

.title {
    width: 100%;
    height: 80vh;
    background-color: var(--secondary-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.title_text {
    flex: 0.8;
    position: relative;
    top: -10%;
    padding-left: 10px
}

.title_text h4 {
    font-size: 60px
}

.title_text p {
    margin-top: 30px;
    font-size: 17px;
    line-height: 25px;
}

.title_img {
    flex: 1;
    height: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.title_img img {
    width: 70%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 2px;
    background: linear-gradient(90deg, #0f0e18, #232b4a, #544e7f, #9c7bcf, #f09ddc);

    border-image-slice: 1;
    border-image-repeat: round;
}

@media screen and (max-width: 700px) {
    .title {
        width: 100%;
        height: 80vh;
        background-color: var(--secondary-color2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .title_text {
        text-align: center;
        flex: 1;
        position: unset;
        padding-left: 0px;
        margin-top: 30px;
    }

    .title_text h4 {
        font-size: 40px
    }

    .title_text p {
        margin-top: 10px;
        font-size: 15px;
        line-height: 20px;
    }

    .title_img {
        flex: 1;
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: normal;
    }

    .title_img img {
        margin-top: 20px;
        width: 60%;
        height: 70%;
    }
}

/* introduction */

.introduction {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color1);
    padding: 100px;
}

.text {
    padding: 5px;
}

.info-right {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    color: #fff;
    font-size: 17px;
    line-height: 25px;
}

.info-left {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE4C4;
    font-size: 17px;
    line-height: 25px;
}

.text {
    flex: 0.4;
}

.text h5 {
    font-size: 25px;
    padding-bottom: 10px;
}

.text p {
    font-size: 17px;
}

.img {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 200px;
}

@media screen and (max-width: 700px) {
    .introduction {
        display: flex;
        flex-wrap: wrap;
        background-color: var(--primary-color1);
        padding: 15px;
    }

    .text {
        padding: 5px;
    }

    .info-right {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 22px;
    }

    .info-left {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFE4C4;
        line-height: 22px;
    }

    .text {
        flex: 0;
    }

    .text h5 {
        font-size: 25px;
        padding-bottom: 15px;
    }

    .text p {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .img img {
        width: 200px;
        height: 200px;
        margin-top: 10px;
    }
}

/* market */

.market {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 70px;
    background-color: rgba(255, 255, 255, 0.738);
}

.market-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.market-content h1 {
    margin-bottom: 50px;
    font-size: 35px;
}

.market-content p {
    margin-bottom: 50px;
    font-size: 17px;
}


.market_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-card {
    margin: 30px;
    border: 1px solid var(--primary-color4);
    border-radius: 10px;
    padding: 10px;
}

.product-card img {
    width: 200px;
    border-radius: 5px;
}

.product-card_detail {
    margin: 10px;
    text-align: center;
}

.product-card_detail h5 {
    margin: 6px;
    font-size: 14px;
    color: var(--primary-color1);
}

.add-Basket {
    border: 1px solid;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    background-color: var(--primary-color2);
    color: #fff;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
}

.add-Basket:hover {
    background-color: var(--primary-color3);
}

.footer {
    position: relative;
    margin: 30px 30px 20px 30px;
    bottom: 0;
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style-type: none;
    margin: 15px;
}

@media screen and (max-width: 700px) {
    .market {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        padding-top: 70px;
        background-color: rgba(255, 255, 255, 0.738);
    }

    .market-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .market-content h1 {
        margin-bottom: 50px;
        font-size: 35px;
    }

    .market-content p {
        margin-bottom: 30px;
        font-size: 15px;
        text-align: center;
        padding: 0px 15px;
    }


    .market_products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .product-card {
        margin: 5px;
        width: 47%;
        height: auto;
        border: 1px solid var(--primary-color4);
        border-radius: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-card img {
        width: 130px;
        border-radius: 5px;
    }

    .product-card_detail {
        margin: 5px;
        width: 100%;
        text-align: center;
    }

    .product-card_detail h5 {
        margin: 2px;
        font-size: 12px;
        color: var(--primary-color1);
    }

    .add-Basket {
        border: 1px solid;
        font-size: 13px;
        margin: 5px;
        padding: 5px;
        background-color: var(--primary-color2);
        color: #fff;
        border-radius: 10px;
        border-color: transparent;
        cursor: pointer;
    }

    .add-Basket:hover {
        background-color: var(--primary-color3);
    }

    .footer {
        position: relative;
        margin: 30px 30px 20px 30px;
        bottom: 0;
    }

    .footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer ul li {
        list-style-type: none;
        margin: 15px;
    }
}

/* basket */

.empty-basket {
    position: relative;
    top: 200px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-basket span {
    margin-bottom: 20px;
}

.empty-basket .redirectMarket {
    color: var(--primary-color3);
    text-decoration: underline;
}

.empty-basket .redirectMarket:hover {
    color: var(--primary-color1)
}

.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.basket-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.shopping-card {
    margin: 40px 30px;
    border: 1px solid var(--primary-color4);
    border-radius: 10px;
    padding: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header_quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity {
    width: 10px;
    margin: 0 3px;
    cursor: pointer;
}

.shopping-card .delete {
    width: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.product {
    margin-top: 10px;
}

.product-detail {
    text-align: center;
}


.product img {
    width: 200px;
}

.total {
    color: var(--primary-color1)
}

.confirmButton {
    margin: 15px 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--primary-color4);
    border-radius: 2px;
    border-radius: 10px;
    color: var(--primary-color1);
    background-color: transparent;
    cursor: pointer;
}

.confirmButton:hover {
    background-color: var(--primary-color3);
    color: #fff;
}


@media screen and (max-width: 700px) {

    .basket {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .basket-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .shopping-card {
        height: auto;
        margin: 10px;
        border: 1px solid var(--primary-color4);
        border-radius: 10px;
        padding: 10px;
    }

    .product {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .product-detail {
        font-size: 15px;
        text-align: center;
        margin-top: 8px;
    }

    .product img {
        width: 120px;
    }

    .total {
        color: var(--primary-color1);
        margin-top: 40px;
    }
}

/* CONFIRM */
.input-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-area span {
    font-size: 10px;
    color: red;
}

.confirmPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.confirmPage-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.confirmPage-title span {
    margin-bottom: 20px;
}

.credit-card {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background: linear-gradient(to right,
            #a1a1ff,
            #c2a9ff,
            #edd3fe,
            #ffd7eb,
            #ffc0f8);
    border-radius: 20px;
    border: 1px solid var(--primary-color1);
    box-shadow: 2px 5px 30px 1px var(--primary-color1);
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.credit-card input {
    background-color: var(--primary-color3);
    border-radius: 100px;
    margin: 5px;
    border: none;
    padding: 8px;
    font-size: 12px;
    color: white;
}

.credit-card input:focus {
    outline: none;
}

.finish {
    width: 150px;
    text-align: center;
    margin: 15px 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 2px;
    border-radius: 10px;
    color: var(--primary-color1);
    cursor: pointer;
}

.finish:hover {
    background-color: var(--primary-color3);
    color: #fff;
}

.label-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label input {
    display: block;
}

@media screen and (max-width:700px) {

    .confirmPage-title {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .confirmPage-title span {
        margin-bottom: 5px;
    }

    .credit-card {
        width: 330px;
        height: 200px;
    }

    .credit-card input {
        font-size: 10px;
    }
}

/* bridge*/

.orderDone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-check {
    color: var(--primary-color3);
    margin-bottom: 10px;
}

.order-Info {
    text-align: center;
    color: var(--primary-color2);
}

.order-Info p {
    margin-top: 20px;
    font-size: 15px;
    padding: 10px;
}

.orderDone_links {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
}

.orderDone_links_link {
    width: auto;
    margin-top: 5px;
    color: var(--primary-color3);
}

.orderDone_links_link:hover {
    color: var(--primary-color2);
}

@media screen and (max-width:700px) {
    .orderDone_links {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        text-align: center;
    }

}

.bridge {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}